{% extends 'base.html' %}

{% block title %} Добавить запись в меню {% endblock %}

{% block main %}

<main id="main">

    <section id="add_item">
        <div class="container">
            <h2 class="menu">Добавление товара</h2>
            <form method="post" class="create-input">
                <label for="name"> <h6>Название блюда</h6> </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Введите название блюда">
                <br>
                <label for="photo"> <h6>Изображение блюда</h6> </label>
                <input type="text" class="form-control" name="photo" id="photo" placeholder="Введите путь до изображения блюда">
                <br>
                <label for="price"> <h6>Цена блюда</h6> </label>
                <input type="text" class="form-control" name="price" id="price" placeholder="Введите цену блюда"><br>
                <label for="weight"> <h6>Вес блюда</h6> </label>
                <input type="text" class="form-control" name="weight" id="weight" placeholder="Введите вес блюда"><br>
                <label for="composition"> <h6>Состав блюда</h6> </label>
                <input type="text" class="form-control" name="composition" id="composition" placeholder="Введите состав блюда">
                <br>
                <label for="KBJU"> <h6>КБЖУ блюда</h6> </label>
                <input type="text" class="form-control" name="KBJU" id="KBJU" placeholder="Введите КБЖУ на 100г блюда" value="   ккал; белки  г; жиры  г; углеводы  г">
                <br>
                <label for="discover_text"> <h6>История блюда</h6> </label>
                <input type="text" class="form-control" name="discover_text" id="discover_text" placeholder="Предложите ингридиент или узнать историю блюда:'Узнайте подробнее о...' ">
                <br>
                <label for="discover_url"> <h6>Страничка с историей блюда</h6> </label>
                <input type="url" class="form-control" name="discover_url" id="discover_url" placeholder="Введите ссылку на страничку с историей о блюде">
                <br>
                <label for="category"> <h6>Категория блюда: </h6> </label> <br>
                <select name="category" id="category" size="1">
                    <option  value="выпечка">Выпечка</option>
                    <option value="горячие напитки">Горячие напитки</option>
                    <option value="прохладные напитки">Прохладительные напитки</option>
                    <option value="готовое">Готовые блюда</option>
                    <option value="мороженное">Мороженное</option>
                    <option value="салаты">Салаты</option>
                    <option value="печенье">Печенье</option>
                    <option value="сэндвичи">Сэндвичи</option>
                    <option value="салаты">Салаты</option>
                </select>
                <br>
                <label for="season"> <h6>Сезонность блюда: </h6> </label> <br>
                <select name="season" id="season" size="1">
                    <option selected value="NULL">---</option>
                    <option  value="зима">Зимнее блюдо</option>
                    <option value="лето">Летнее блюдо</option>
                </select>
                <br>
                <label for="time_day"> <h6>В какое время это блюдо наиболее востребовано: </h6> </label> <br>
                <select name="time_day" id="time_day" size="1">
                    <option selected value="NULL">---</option>
                    <option value="утро">Утреннее блюдо</option>
                    <option value="день">Дневное блюдо</option>
                    <option value="вечер">Вечернее блюдо</option>
                </select>
                <br><br>
                <button class="btn btn-success">Добавить позицию меню</button>
            </form>
        </div>
    </section>
</main>

{% endblock %}
