{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}



{% block create_admin %}
<li><a href="/create" class="menu-up nav-link px-2 link-dark">Добавить блюдо</a></li>
<li><a href="/robots/" class="menu-up nav-link px-2 link-dark">Роботы</a></li>
{% endblock %}

{% block main %}

<main id="main">




<!--
        <section class="about-us" id="about">
            <div class="container">
                <div class="about-us">
                    <h2 class="about">Умное кафе - что это?</h2>
                    <ul class="push">
                        <li>Новый уровень кафе</li>
                        <li>Новые ощущения</li>
                        <li>Новые возможности</li>
                        <li>Передовые технологии</li>
                        <li>Искусственный интеллект, который поможет вам определиться с заказом</li>
                        <li>Индивидуальный подход к клиенту</li>
                    </ul>
                </div>
            </div>
        </section>
    /-->
        <section id="menu">
            <h2 class="menu">Меню</h2>
            <div class="container">
                <div class="cont">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" name="1 pos">
                      {% for el in data %}
                      <div class="col">
                          <div class="card shadow-sm">
                              <div class="image image-menu">
                                <img class="image" src="{{el.photo}}"  width="420" height="210" alt="{{ el.name }}">
                              </div>
                              <h6 class="cardtext">{{ el.name }}</h6>
                              <p class="price"  style="text-align: center;margin: 0px 0px 8px;">{{ el.price }}р/шт</p>
                              <input type="checkbox" class="read-more-checker" id="read-more-checker{{ el.id }}">
                              <div class="card-body limited">
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if current_user.is_authenticated %}
                                    <div class="btn-group">
                                        <a type="button" style="float: left; margin-right: 5%; margin-left: -50%" href="/admin/{{ el.id }}/delete" class="btn btn-sm btn-outline-secondary">Удалить</a>
                                        <a type="button" style="float: right" href="/admin/{{ el.id }}/update" class="btn btn-sm btn-outline-secondary">Изменить</a>
                                    </div>
                                    {% endif %}



                                </div>
                                <br>
                                <p class="card-text" >Масса: {{el.weight}}г</p>
                                <p class="card-text">Состав: {{el.composition}}</p>
                                <p class="card-text">КБЖУ на 100г: {{el.KBJU}} </p>
                                  {% if el.discover_text %}
                                <p class="card-text leftstr" >Узнайте подробнее о {{ el.discover_text }}: </p>
                                <a href="{{ el.discover_url }}" target="_blank" class="rightbtn btn btn-groupp btn-sm btn-outline-secondary"> Узнать</a>
                                  {% endif %}

                             </div>
                            <div class="bottom"></div>
                            <label for="read-more-checker{{ el.id }}" class="read-more-button"> </label>
                          </div>
                      </div>
                     {% endfor %}





                </div>
              </div>
            </div><br><br><br><br>
        </section>
        <section  id="Contact">

            <div class="content">
                <h2 class="menu">Наши контакты</h2>

                    <div class="nesolestag-enadenud">

                        <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
                        </div>
                        <div class="meanous-andscoev">
                        <h4 class="aio-icon-title">Наш адрес:</h4>
                        <div class="aio-icon-description">
                        г. Москва, ул. Дубосековская,
                        <br>дом 4</div>
                        </div>

                        <span class="kesednsoled"></span>

                        <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i>
                        </div>
                        <div class="meanous-andscoev">
                        <h4 class="aio-icon-title">График работы:</h4>
                        <div class="aio-icon-description">
                        Пн-Вс 11:00 - 23:00
                        <br>Без выходных</div>
                        </div>

                        <span class="kesednsoled"></span>

                        <div class="ico-wrap">
                        <i class="fa fa-envelope ico-contact"></i>
                        </div>
                        <div class="meanous-andscoev">
                        <h4 class="aio-icon-title">Электронная почта:</h4>
                        <div class="aio-icon-description">
                        smart_cafe@gmail.com
                        <br></div>
                        </div>

                        <span class="kesednsoled"></span>

                        <div class="ico-wrap">
                        <i class="fa fa-phone ico-contact"></i>
                        </div>
                        <div class="meanous-andscoev">
                        <h4 class="aio-icon-title">Связь по телефону:</h4>
                        <div class="aio-icon-description">
                        8 (000) 000-00-000
                        <br>8 (111) 111-11-111 - Технический специалист</div>
                        </div>

                        <span class="kesednsoled"></span>

                    </div>

                    <div class="container">
                        <div class="map-google">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1121.0115585115996!2d37.498315181794645!3d55.81019905757772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1640027044087!5m2!1sru!2sru" width="1000" height="500" style="margin: auto" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>

        </section>

    </main>

{% endblock %}