                      <!--норм меню -->
                      <div class="col">
                          <div class="card shadow-sm">
                              <div class="image image-menu">
                                <img class="image" src="static/image/1.png" width="420" height="210" alt="Лепешка сулугуни">
                              </div>
                              <h6 class="cardtext">Лепешка с сыром сулугуни,<br> подогретая в гриле</h6>
                              <p class="price"  style="text-align: center;margin: 0px 0px 8px;">118р/шт</p>
                              <input type="checkbox" class="read-more-checker" id="read-more-checker1">
                              <div class="card-body limited">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                                    </div>
                                </div>
                                <br>
                                <p class="card-text" >Масса: 115г</p>
                                <p class="card-text">Состав: тесто дрожжевое, сыр "Сулугуни", яйцо куриное.</p>
                                <p class="card-text">КБЖУ на 100г: 260 ккал; белки 6,5г; жиры 13г; углеводы 30г </p>
                                <p class="card-text leftstr" >Узнайте подробнее о сыре сулугуни: </p>
                                <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%83%D0%BB%D1%83%D0%B3%D1%83%D0%BD%D0%B8" target="_blank" class="rightbtn btn btn-groupp btn-sm btn-outline-secondary"> Узнать</a>

                             </div>
                            <div class="bottom"></div>
                            <label for="read-more-checker1" class="read-more-button"> </label>
                          </div>
                      </div>

                      <div class="col">
                          <div class="card shadow-sm">
                              <div class="image image-menu">
                                <img class="image" src="static/image/2.png" width="420" height="210" alt="Сэндвич с курицей">
                              </div>
                              <h6 class="cardtext">Сэндвич с нежной запеченной курицей и соусом</h6>
                              <p class="price"  style="text-align: center;margin: 0px 0px 8px;">180р/шт</p>
                              <input type="checkbox" class="read-more-checker" id="read-more-checker2">
                              <div class="card-body limited">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                                    </div>
                                </div>
                                <br>
                                <p class="card-text" >Масса: 200г</p>
                                <p class="card-text">Состав: чиабатта, курица запеченная (куриное филе), майонез.</p>
                                <p class="card-text">КБЖУ на 100г: 317 ккал; белки 12,8г; жиры 17,8г; углеводы 26,4г </p>
                             </div>
                            <div class="bottom"></div>
                            <label for="read-more-checker2" class="read-more-button"> </label>
                          </div>
                      </div>

                      <div class="col">
                          <div class="card shadow-sm">
                              <div class="image image-menu">
                                <img class="image" src="static/image/3.png" width="420" height="210" alt="Сэндвич с тунцом">
                              </div>
                              <h6 class="cardtext">Сытный сэндвич с нежным тунцом на тостовом хлебе</h6>
                              <p class="price"  style="text-align: center;margin: 0px 0px 8px;">220р/шт</p>
                              <input type="checkbox" class="read-more-checker" id="read-more-checker3">
                              <div class="card-body limited">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                                    </div>
                                </div>
                                <br>
                                <p class="card-text" >Масса: 230г</p>
                                <p class="card-text">Состав: хлеб тостовый светлый, сыр "Гауда", яйцо куриное,
                                    тунец консервированный, майонез м.д.ж. 67%, огурцы свежие, лимоны свежие.</p>
                                <p class="card-text">КБЖУ на 100г: 303  ккал; белки 13,14 г; жиры 18,12 г; углеводы 21,84 г </p>

                             </div>
                            <div class="bottom"></div>
                            <label for="read-more-checker3" class="read-more-button"> </label>
                          </div>
                      </div>

                      <div class="col">
                          <div class="card shadow-sm">
                              <div class="image image-menu">
                                <img class="image" src="static/image/4.png" width="420" height="210" alt="Бейгл с лососем">
                              </div>
                              <h6 class="cardtext">Свежий бейгл с слабосоленым лососем и овощами</h6>
                              <p class="price"  style="text-align: center;margin: 0px 0px 8px;">230р/шт</p>
                              <input type="checkbox" class="read-more-checker" id="read-more-checker4">
                              <div class="card-body limited">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                                    </div>
                                </div>
                                <br>
                                <p class="card-text" >Масса: 180г</p>
                                <p class="card-text">Состав: бейгл, слабосоленая семга, майонез,томаты свежие, салат асйберг. </p>
                                <p class="card-text">КБЖУ на 100г: 294   ккал; белки 7,5 г; жиры 19,6 г; углеводы 21,9 г </p>
                                <p class="card-text leftstr" > Узнайте подробнее о происхождении бейгла: </p>
                                <a href="https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%B9%D0%B3%D0%BB" target="_blank" class="rightbtn btn btn-groupp btn-sm btn-outline-secondary"> Узнать</a>

                             </div>
                            <div class="bottom"></div>
                            <label for="read-more-checker4" class="read-more-button"> </label>
                          </div>
                      </div>

                      <div class="col">
                          <div class="card shadow-sm">
                              <div class="image image-menu">
                                <img class="image" src="static/image/5.png" width="420" height="210" alt="Творожная запенка">
                              </div>
                              <h6 class="cardtext">Классическая творожная запенканка идеально подойдет к завтраку</h6>
                              <p class="price"  style="text-align: center;margin: 0px 0px 8px;">145р/шт</p>
                              <input type="checkbox" class="read-more-checker" id="read-more-checker5">
                              <div class="card-body limited">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                                    </div>
                                </div>
                                <br>
                                <p class="card-text" >Масса: 140г</p>
                                <p class="card-text">Состав: творог 9%, сахар, мука пшеничная, яйцо куриное, масло подсолнечное</p>
                                <p class="card-text">КБЖУ на 100г: 225,2  ккал; белки 14,2 г; жиры 8,8 г; углеводы 22 г </p>

                             </div>
                            <div class="bottom"></div>
                            <label for="read-more-checker5" class="read-more-button"> </label>
                          </div>
                      </div>

                      <div class="col">
                          <div class="card shadow-sm">
                              <div class="image image-menu">
                                <img class="image" src="static/image/6.png" width="420" height="210" alt="Какао">
                              </div>
                              <h6 class="cardtext">Ароматный согревающий напиток из натурального какао и молока, 330мл</h6>
                              <p class="price"  style="text-align: center;margin: 0px 0px 8px;">150р/шт</p>
                              <input type="checkbox" class="read-more-checker" id="read-more-checker6">
                              <div class="card-body limited">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                                    </div>
                                </div>
                                <br>
                                <p class="card-text" >Масса/объем: 330мл</p>
                                <p class="card-text">Состав: какао-порошок, молоко 3,2%, сахар.</p>
                                <p class="card-text">КБЖУ на 100г: 112  ккал; белки 3,7 г; жиры 3,6 г; углеводы 14,2 г </p>

                             </div>
                            <div class="bottom"></div>
                            <label for="read-more-checker6" class="read-more-button"> </label>
                          </div>
                      </div>