<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_sign.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <title>Регистрация</title>
</head>
<body class="text-center">

    <main class="form-signin">
     <div class="container">
      <h1 class="h3 mb-3 fw-normal" style="margin-top: 50px">Регистрация</h1>
         {% if message_error %}
            <div class="message" style="background-color: #ff577b">
                {{ message_error }}
            </div>
         {% endif %}
         {% if login_incorrect %}
            <div  class="message" style="background-color: #ff577b">
                {{ login_incorrect }} Попробуйте  <a href="/login">авторизоваться</a>.
            </div>
         {% endif %}
         {% if email_incorrect %}
            <div class="message" style="background-color: #ff577b">
                {{ email_incorrect }} Попробуйте  <a href="/login">авторизоваться</a>.
            </div>
         {% endif %}
      <form method="post" class="form">


        <div class="form-floating">
          <input type="text" class="form-control" id="name_client" name="name_client" placeholder="Name">
          <label for="name_client">Введите свое имя</label>
        </div>

        <div class="form-floating" style="margin-top: 10px">
          <input type="text" class="form-control" id="login" name="login" placeholder="Login">
          <label for="login">Придумайте логин</label>
        </div>
        <div class="form-floating" style="margin-top: 10px">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="password">Придумайте пароль</label>
        </div>
        <div class="form-floating" style="margin-top: 10px">
          <input type="password" class="form-control" id="RepeatPassword" name="RepeatPassword" placeholder="RepeatPassword">
          <label for="RepeatPassword">Повторите пароль</label>
        </div>
        <div class="form-floating" style="margin-top: 10px">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          <label for="email">Введите свою почту</label>
        </div>
        <div class="form-floating" style="margin-top: 10px">
          <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Telephone">
          <label for="telephone">Введите номер телефона</label>
        </div>
         <div>
             <h1 class="h3 mb-3 fw-normal" style="font-size: 19px; margin-top: 20px; text-align: left">Заполните дополнительную информацию о себе</h1>
         </div>
        <div class="form-floating category">
          <label for="categorya" style="margin-top: 20px; width: 100%;text-align: left" > <h6>Выберите любимую категорию блюд, чтобы мы могли подобрать то, что понравится именно вам: </h6> </label> <br>
          <select name="categorya" style="margin-top: 55px;width: 100%;" id="categorya" size="1">
              <option selected value="NULL">---</option>
              <option  value="выпечка">Выпечка</option>
              <option value="горячие напитки">Горячие напитки</option>
              <option value="прохладные напитки">Прохладительные напитки</option>
              <option value="готовое">Готовые блюда</option>
              <option value="мороженное">Мороженное</option>
              <option value="салаты">Салаты</option>
              <option value="печенье">Печенье</option>
              <option value="сэндвичи">Сэндвичи</option>
              <option value="салаты">Салаты</option>
          </select>
          <br>
        </div>

        <div class="form-floating allergy">
          <label for="allergy" style="margin-top: 20px; width: 100%;text-align: left" > <h6>
              Выберите продукт, который хотели бы исключить из меню </h6> </label> <br>
          <select name="allergy" style="margin-top: 55px;width: 100%;" id="allergy" >
              <option selected value="NULL">---</option>
              <option value="Молоко">Молочное</option>
              <option value="Орехи">Орехи</option>
              <option value="Мучное">Мучное</option>
              <option value="яйца">Яйца</option>
          </select>
          <br>
        </div>
          <br>
        <div>
            <a href="/login" class="up nav-link px-2 link-dark">Уже зарегистрированы?</a>
        </div>
          <br>

          {{auth_error_of_sign }}
          <br>
        <button class="w-100 btn btn-lg btn-warning" type="submit"> Зарегестрироваться </button>

       </form>
      </div>
    </main>
</body>
</html>